<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.esa.submission1bpaai">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_app7"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app7"
        android:supportsRtl="true"
        android:theme="@style/Theme.Submission1BPAAI"
        tools:targetApi="31">
        <activity
            android:name=".ui.story.RecommendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.story.PrediksiActivity"
            android:exported="false" />
        <activity
            android:name=".NutrisiActivity"
            android:exported="false" />
        <activity
            android:name=".Tentang"
            android:exported="false" />
        <activity
            android:name=".Bantuan"
            android:exported="false" />
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.story.AddStoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.story.FrameIcs"
            android:exported="false" />
        <activity
            android:name=".ui.story.ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.story.DetailStoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.story.MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.esa.submission1bpaai"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>